/**
* FLOATING LAYOUTS
*
*/
#{$v}-l-left {
    float: left;
  }

#{$v}-l-right {
  float: right;
}

#{$v}-l-clear {
  clear: both;
}

/**
* PINNED LAYOUTS
*
*/
#{$v}-l-pinned {
  position: fixed;
  z-index: 99999999;
}

#{$v}-pinned-all {
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  width: auto;
}

#{$v}-l-pinned-top {
  top: 0px;
}

#{$v}-l-pinned-bottom {
  bottom: 0px;
}

#{$v}-l-pinned-left {
  left: 0px;
}

#{$v}-l-pinned-right {
  right: 0px;
}

/**
* SPACING
*
*/
#{$v}-l-stacked li {
  display: block;
  margin-bottom: 20px;
}

#{$v}-l-pad-right {
  margin-right: 10px;
}

#{$v}-l-pad-left {
  margin-left: 10px;
}

#{$v}-key-box {
  width: 70px;
  margin-right: 10px;
}

#{$v}-parent-box {
  width: 100px;
  margin-right: 10px;
}

#{$v}-value-box {
  width: 200px;
}

#{$v}-priority-box {
  width: 70px;
}