/**
* NODE STATES
*
*/
#{$v}-is-added {
  color: darken($teal, 40%);
  background-color: $teal;
}
#{$v}-is-changed {
  color: darken($yellow-dark, 40%);
  background-color: $yellow-dark;
}
#{$v}-is-moved {
  color: darken($blue, 40%);
  background-color: $blue;
}
#{$v}-is-removed {
  color: darken($red, 40%);
  background-color: $red;
}