/**
* BASE VARIABLES
*
*/
$v: '.vulcan';
$default-font: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$baseline: 28px;
$basefont: 14px;

/**
* COLORS
*
*/
$gray-light: #ccc9c3;
$gray-lightest: #f7f7f7;
$white: #FFF;
$yellow-dark: #fec324;
$yellow-light: #fff697;
$yellow-lightest: #fffbf3;
$green: #acfd5b;
$blue: #50b1ff;
$purple: #b650ff;
$red: #ff6450;
$navy-darkest: #292d33;
$navy-dark: #373d44;
$navy: #3d444b;
$navy-light: #51585e;
$navy-lightest: #9298a0;
$teal: #33cd7b;
