//////////////////////////////////////////////////////////
// VARS //////////////////////////////////////////////////
//////////////////////////////////////////////////////////
$namespace: 'forge-stealth';
$default-font: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$baseline: 28px;
$basefont: 14px;

//////////////////////////////////////////////////////////
// COLORS  ///////////////////////////////////////////////
//////////////////////////////////////////////////////////
$black: #000;
$gray: #322f31;
$gray-light: #ccc9c3;
$gray-lightest: #f7f7f7;
$white: #FFF;
$cool: #7b8386;
$yellow-dark: #fec324;
$yellow: #ffe36a;
$yellow-light: #fff697;
$yellow-lightest: #fffbf3;
$green: #acfd5b;
$blue: #50b1ff;
$purple: #b650ff;
$red: #ff6450;
$navy-darkest: #292d33;
$navy-dark: #373d44;
$navy: #3d444b;
$navy-light: #51585e;
$navy-lightest: #9298a0;
$pearl-darkest: #c8ccd8;
$pearl-darker: #d2d4e0;
$pearl-dark: #e7e8ef;
$pearl: #f2f3f7;
$teal: #33cd7b;
$royal: #8339ce;


body {
  background: teal;
  background-size: cover;
}

##{$namespace} {
  box-shadow: 0px 0px 50px rgba(0, 0, 0, .4);
  background-color: $white;
  position: fixed;
  bottom: 0px;
  right: 50px;
  z-index: 99999999;
  width: 500px;
  font-family: $default-font;

  //////////////////////////////////////////////////////////
  // HEADER  ///////////////////////////////////////////////
  //////////////////////////////////////////////////////////
  .#{$namespace}-header {
    box-sizing: border-box;
    background-color: $navy-dark;
    height: 50px;
    position: relative;
    padding: 10px 90px 10px 50px;

    h1 {
      position: absolute;
      top: 10px;
      left: 10px;
      z-index: 1;
      font-size: $basefont - 2;
      margin: 0px;
      width: 23px;
      height: 31px;
      overflow: hidden;
      text-indent: -3000px;
      background: url(../images/logo.png) top left no-repeat;
    }

    input {
      width: 100%;
      box-sizing: border-box;
      height: 28px;
    }

    .#{$namespace}-dropdown {
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 1;
    }

  }

  //////////////////////////////////////////////////////////
  // BODY  ///////////////////////////////////////////////
  //////////////////////////////////////////////////////////
  .#{$namespace}-body {
    height: 400px;
    overflow: auto;
    padding: 20px;

    ul.#{$namespace}-child-list, ul.#{$namespace}-root-list  {
      list-style-type: none;
      margin: 0px;
      padding: 0px;
      border-left: 1px dotted $gray-light;

      //NODE
      li.#{$namespace}-node {
        margin: 0px 0px 10px 0px;
        padding: 0px 0px 0px 30px;
        position: relative;

        //STEM
        &:before {
          display: block;
          content: "";
          width: 26px;
          height: 1px;
          border-bottom: 1px dotted $gray-light;
          position: absolute;
          left: 0px;
          top: 15px;
          z-index: 1;
        }

        //TOGGLE BUTTON
        .#{$namespace}-toggle {
          background-color: $gray-lightest;
          border-radius: 100px;
          display: inline-block;
          border: 1px solid $gray-light;
          width: 16px;
          line-height: 16px;
          text-align: center;
          margin: 0px 5px 0px -10px;
          cursor: pointer;
          font-size: 12px;
          position: absolute;
          top: 7px;
          left: 0px;
          z-index: 1;
        }

        //DATA ROW
        .#{$namespace}-container {
          position: relative;
          margin-left: -2px;
          transition: all ease-out 500ms;
          border-radius: 5px;
          line-height: $baseline;

          &:hover  {
            .#{$namespace}-options {
              display: block;
            }
          }

          //STATUS UPDATES
          &.#{$namespace}-added {
            color: darken($teal, 40%);
            background-color: $teal;
          }
          &.#{$namespace}-changed {
            color: darken($yellow-dark, 40%);
            background-color: $yellow-dark;
          }
          &.#{$namespace}-moved {
            color: darken($blue, 40%);
            background-color: $blue;
          }
          &.#{$namespace}-removed {
            color: darken($red, 40%);
            background-color: $red;
          }

          //HOVER OPTIONS
          .#{$namespace}-options {
            display: none;
            position: absolute;
            top: 0px;
            z-index: 1;
          }

          //PRIORITY
          .#{$namespace}-priority {
            background: $teal;
            color: $white;
            border-radius: 3px;
            line-height: $baseline;
            font-size: $basefont - 2;
            font-style: normal;
            padding: 0px 3px;
            margin: 0px 5px 0px 0px;
          }

          //NODE NAME
          .#{$namespace}-name {
            border-radius: 3px;
            transition: all 500ms ease-out;
            margin: 0px 10px 0px 0px;
            font-size: $basefont;
            font-weight: bold;
          }

          // NUMBER OF CHILD NODES
          .#{$namespace}-num-children {
            opacity: .5;
            font-size: $basefont - 2;
            margin-left: -5px;
          }

          //VALUE
          .#{$namespace}-value {
            margin: 0px 0px 0px 0px;
            font-size: $basefont - 1;
            font-style: normal;
          }

        }
      }
    }
  }


  //////////////////////////////////////////////////////////
  // FORM  /////////////////////////////////////////////////
  //////////////////////////////////////////////////////////
  .#{$namespace}-form-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: $navy-darkest;
    opacity: .3;
  }
  .#{$namespace}-form {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, .3);
    border-radius: 3px;
    background: $white;
    position: absolute;
    top: 100px;
    left: 40px;
    right: 40px;
    z-index: 2000;

    .#{$namespace}-form-header {
      border-radius: 3px 3px 0px 0px;
      background: $navy-darkest;
      padding: 10px;
      line-height: 10px;
      color: $white;
      text-align: center;
      font-size: $basefont - 2;
    }

    //FORM BODY
    .#{$namespace}-form-body {
      padding: 20px;

      input {
        border-radius: 3px;
        border: 1px solid $gray-light;
        height: 28px;
        display: inline-block;
      }

      &.#{$namespace}-standard {
        .#{$namespace}-form-add-child {
          display: none;
        }
      }
      &.#{$namespace}-child {
        .#{$namespace}-form-standard {
          display: none;
        }
      }
    }

    //FOOTER
    .#{$namespace}-form-footer {
      background: $gray-lightest;
      padding: 10px;
      border-radius: 0px 0px 3px 3px;

      .#{$namespace}-form-submit, .#{$namespace}-form-cancel {
        border-radius: 3px;
        padding: 0px 10px;
        border: none;
        display: inline-block;
        font-size: $basefont;
        cursor: pointer;
      }
      .#{$namespace}-form-submit, .#{$namespace}-form-cancel {
        background: $teal;
        color: $white;
        height: 30px;
      }
      .#{$namespace}-form-cancel {
        background: $gray-light;
        color: $gray;
        line-height: 30px;
      }
    }

  }
}