$purple: #884DFF;


body {
  background-color: $purple;
  padding: 0px;
  margin: 0px;
}

.example-chat {
  font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  border-radius: 10px;
  border: 1px solid lighten($purple, 5%);
  overflow: auto;
  padding: 0px;
  font-size: 18px;
  line-height: 22px;
  color: #FFF;
  max-width: 500px;
  margin: 20px;

  .is-hidden {
    display: none !important;
  }

  header {
    font-weight: 100;
    font-size: 26px;
    text-align: center;
    border-bottom: 1px solid lighten($purple, 5%);
    padding: 10px;
  }

  input {
    border: 1px solid lighten($purple, 10%);
    background: lighten($purple, 5%);
    box-sizing: border-box;
    box-shadow: none;
    border-radius: 3px;
    padding: 0px 10px;
    height: 50px;
    font-size: 18px;
    width: 100%;
    font-weight: normal;
    outline: none;
    color: #FFF;
  }

  .example-chat-toolbar {
    background-color: #FFF;
    padding: 10px;
    position: relative;
    border-bottom: 1px solid #CCC;

    label {
      text-transform: uppercase;
      line-height: 32px;
      font-size: 14px;
      color: #999;
      position: absolute;
      top: 10px;
      left: 20px;
      z-index: 1;
    }
  }

  .firebase-url-container {
    padding: 20px 40px;

    p {
      line-height: 28px;
      font-size: 16px;
      font-weight: 200;
    }
  }

  ol {
    padding: 20px;
    margin: 0px 30px;
    min-height: 200px;
    font-weight: 200;

    li {
      margin-bottom: 10px;
      line-height: 24px;

      strong {
        background: darken($purple, 5%);
        display: inline-block;
        padding: 0px 10px;
        font-weight: 300;
        border-radius: 3px;
      }

      &:last-child {
        margin: 0px;
      }
    }

    .example-chat-username {
      margin-right: 10px;
    }
  }

  footer {
    display: block;
    padding: 10px;
  }
}
