#{$v}-alert {
  position: relative;
  margin-bottom: 20px;
  padding: 0px 10px;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  text-align: center;
  line-height: 40px;
  font-size: $basefont;
}

#{$v}-alert-error {
  background: lighten($red, 30%);
  color: $red;
  border-color: $red;
}

#{$v}-alert-close {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 200px;
  background:$gray-lightest;
  border: 1px solid $gray-light;
  width: 20px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  color: $gray-light;
  font-size: $basefont - 2;

  &:hover {
    border-color: $blue;
    color: $blue;
  }
}