/**
* DROPDOWN
*
*/
#{$v}-dropdown {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, .3);
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  background: $navy;
  position: absolute;
  top: 100%;
  right: 0px;
  z-index: 20;
  width: 150px;
  font-size: $basefont - 1;

  a {
    display: block;
    line-height: 40px;
    padding: 0px 20px;
    color: $navy-lightest;
    cursor: pointer;
    background: $navy;
    text-decoration: none;

    &:hover {
      background: $navy-darkest;
      color: $white;
    }
  }
}