/**
* FORM FIELDS
*
*/

#{$v}-form-fields {
  list-style-type: none;
  padding: 0px;
  margin: 0px;

  label {
    font-size: $basefont - 2;
    display: block;
    font-family: $default-font;
    margin-bottom: 5px;
    color: $navy-lightest;
    text-transform: uppercase;

    > em {
      font-style: normal;
    }
  }

  input, textarea{
    border-radius: 3px;
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: darken($gray-lightest, 2%);
    color: $navy-light;
    margin: 0px;
    padding: 0px 10px;
    outline: none;
    height: 30px;
    font-size: $basefont;

    &:active, &:focus {
      color: $navy;
      background: $yellow-lightest;
      box-shadow: inset 0px 1px 2px rgba(0, 0, 0, .3);
    }
  }

  textarea {
    height: 100px;
  }
}


/**
* LARGE FORM FIELDS
*
*/

#{$v}-form-fields-large {
  label  em {
    font-size: $basefont - 2;
  }

  input, textarea{
    height: 40px;
    font-size: $basefont + 2;
    padding: 0px 20px;
  }
}

/**
* LOGIN FORM
*
*/
#{$v}-login-form {
  padding: 0px 60px;

  &#{$v}-is-devtools {
    padding: 0px;
    max-width: 500px;
    margin: 0px auto;
  }
}
