/**
* Logo
*
*/

#{$v}-logo {
  border-radius: 1000px;
  padding: 0px;
  margin: 0px;
  width: 40px;
  height: 40px;
  overflow: hidden;
  background: $navy-darkest;
  text-align: center;
  color: $red;
  line-height: 40px;
  font-weight: 100;
  font-size: $basefont + 4;
}